{{define "subject"}} You might like these items {{end}}

{{define "plainBody"}}
Hi,

Thanks for choosing our service. Looking at your preferences we thought you might 
like these books.
1. https://www.amazon.com/Lessons-Chemistry-Novel-Bonnie-Garmus-ebook/dp/B098PW8NP8/ref=s9_acsd_al_ot_c2_x_0_t?_encoding=UTF8&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=merchandised-search-2&pf_rd_r=Q77V4CJJ5G0XATFTBS2F&pf_rd_p=e8f9e088-eef0-4649-96c2-153c90599da5&pf_rd_t=&pf_rd_i=23679109011
2. https://www.amazon.com/Fourth-Wing-Empyrean-Book-1-ebook/dp/B0BGDM197Q/ref=s9_acsd_al_ot_c2_x_1_t?_encoding=UTF8&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=merchandised-search-2&pf_rd_r=Q77V4CJJ5G0XATFTBS2F&pf_rd_p=e8f9e088-eef0-4649-96c2-153c90599da5&pf_rd_t=&pf_rd_i=23679109011
3. https://www.amazon.com/Starts-Us-Novel-Ends-Book-ebook/dp/B09RX4B8R5/ref=s9_acsd_al_ot_c2_x_2_t?_encoding=UTF8&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=merchandised-search-2&pf_rd_r=Q77V4CJJ5G0XATFTBS2F&pf_rd_p=e8f9e088-eef0-4649-96c2-153c90599da5&pf_rd_t=&pf_rd_i=23679109011
4. https://www.amazon.com/Tomorrow-novel-Gabrielle-Zevin-ebook/dp/B09JBCGQB8/ref=s9_acsd_al_ot_c2_x_3_t?_encoding=UTF8&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=merchandised-search-2&pf_rd_r=Q77V4CJJ5G0XATFTBS2F&pf_rd_p=e8f9e088-eef0-4649-96c2-153c90599da5&pf_rd_t=&pf_rd_i=23679109011
5. https://www.amazon.com/Happy-Place-Emily-Henry-ebook/dp/B0B7L29TB7/ref=s9_acsd_al_ot_c2_x_4_t?_encoding=UTF8&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=merchandised-search-2&pf_rd_r=Q77V4CJJ5G0XATFTBS2F&pf_rd_p=e8f9e088-eef0-4649-96c2-153c90599da5&pf_rd_t=&pf_rd_i=23679109011

Thanks,
The Book Search Team

{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width-device-width"/>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <p>Hi,</p>
        <p>
            Thanks for choosing our service. Looking at your preferences we thought you might 
            like these books.
        </p>
        <ol>
            <li> <a href="https://www.amazon.com/Lessons-Chemistry-Novel-Bonnie-Garmus-ebook/dp/B098PW8NP8/ref=s9_acsd_al_ot_c2_x_0_t?_encoding=UTF8&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=merchandised-search-2&pf_rd_r=Q77V4CJJ5G0XATFTBS2F&pf_rd_p=e8f9e088-eef0-4649-96c2-153c90599da5&pf_rd_t=&pf_rd_i=23679109011"> https://www.amazon.com/Lessons-Chemistry-Novel-Bonnie-Garmus-ebook/dp/B098PW8NP8/ref=s9_acsd_al_ot_c2_x_0_t?_encoding=UTF8&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=merchandised-search-2&pf_rd_r=Q77V4CJJ5G0XATFTBS2F&pf_rd_p=e8f9e088-eef0-4649-96c2-153c90599da5&pf_rd_t=&pf_rd_i=23679109011</a> </li>
            <li> <a href="https://www.amazon.com/Fourth-Wing-Empyrean-Book-1-ebook/dp/B0BGDM197Q/ref=s9_acsd_al_ot_c2_x_1_t?_encoding=UTF8&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=merchandised-search-2&pf_rd_r=Q77V4CJJ5G0XATFTBS2F&pf_rd_p=e8f9e088-eef0-4649-96c2-153c90599da5&pf_rd_t=&pf_rd_i=23679109011"> https://www.amazon.com/Fourth-Wing-Empyrean-Book-1-ebook/dp/B0BGDM197Q/ref=s9_acsd_al_ot_c2_x_1_t?_encoding=UTF8&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=merchandised-search-2&pf_rd_r=Q77V4CJJ5G0XATFTBS2F&pf_rd_p=e8f9e088-eef0-4649-96c2-153c90599da5&pf_rd_t=&pf_rd_i=23679109011 </a> </li>
            <li> <a href="https://www.amazon.com/Starts-Us-Novel-Ends-Book-ebook/dp/B09RX4B8R5/ref=s9_acsd_al_ot_c2_x_2_t?_encoding=UTF8&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=merchandised-search-2&pf_rd_r=Q77V4CJJ5G0XATFTBS2F&pf_rd_p=e8f9e088-eef0-4649-96c2-153c90599da5&pf_rd_t=&pf_rd_i=23679109011"> https://www.amazon.com/Starts-Us-Novel-Ends-Book-ebook/dp/B09RX4B8R5/ref=s9_acsd_al_ot_c2_x_2_t?_encoding=UTF8&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=merchandised-search-2&pf_rd_r=Q77V4CJJ5G0XATFTBS2F&pf_rd_p=e8f9e088-eef0-4649-96c2-153c90599da5&pf_rd_t=&pf_rd_i=23679109011 </a> </li>
            <li> <a href="https://www.amazon.com/Tomorrow-novel-Gabrielle-Zevin-ebook/dp/B09JBCGQB8/ref=s9_acsd_al_ot_c2_x_3_t?_encoding=UTF8&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=merchandised-search-2&pf_rd_r=Q77V4CJJ5G0XATFTBS2F&pfd_p=e8f9e088-eef0-4649-96c2-153c90599da5&pf_rd_t=&pf_rd_i=23679109011"> https://www.amazon.com/Tomorrow-novel-Gabrielle-Zevin-ebook/dp/B09JBCGQB8/ref=s9_acsd_al_ot_c2_x_3_t?_encoding=UTF8&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=merchandised-search-2&pf_rd_r=Q77V4CJJ5G0XATFTBS2F&pfd_p=e8f9e088-eef0-4649-96c2-153c90599da5&pf_rd_t=&pf_rd_i=23679109011</a> </li>
            <li> <a href="https://www.amazon.com/Happy-Place-Emily-Henry-ebook/dp/B0B7L29TB7/ref=s9_acsd_al_ot_c2_x_4_t?_encoding=UTF8&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=merchandised-search-2&pf_rd_r=Q77V4CJJ5G0XATFTBS2F&pf_rd_p=e8f9e088-eef0-4649-96c2-153c90599da5&pf_rd_t=&pf_rd_i=23679109011"> https://www.amazon.com/Happy-Place-Emily-Henry-ebook/dp/B0B7L29TB7/ref=s9_acsd_al_ot_c2_x_4_t?_encoding=UTF8&pf_rd_m=ATVPDKIKX0DER&pf_rd_s=merchandised-search-2&pf_rd_r=Q77V4CJJ5G0XATFTBS2F&pf_rd_p=e8f9e088-eef0-4649-96c2-153c90599da5&pf_rd_t=&pf_rd_i=23679109011</a> </li>
        </ol>
        <p> Thanks, </p>
        <p> The Book Search Team</p>
    </body>
</html>
{{end}}